<script>
function formCancel() {
//alert('form cancel');
document.location = "{{ _SERVER.HTTP_REFERER }}";
}
</script>
<div id="main" role="main" class="container">
<div class="jumbotron">

    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% for alert in alertTypeAvaillable %}
        {% for message in app.session.getFlashBag.get(alert) %}
            <div class="alert alert-{{ alert }}" >
                <button class="close" data-dismiss="alert">×</button>
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

<h2>{{ title }}</h2>
<form name="organisation" method="post">
 <div id="organisation">
  <div class="control-group">
   <label class="control-label required" for="organisation_name">Name</label>
   <div class="controls">
   <input type="text" id="organisation_name" name="organisation[name]" 
   value="{% if organisation %} {{ organisation.name }} {% endif %}" 
   required="required"  disabled/></div></div>
  <div class="control-group">
   <label class="control-label required" for="organisation_address">Address</label>
   <div class="controls">
   <textarea id="organisation_address" name="organisation[address]" required="required" disabled>
   {% if organisation %} {{ organisation.address }} {% endif %}
   </textarea></div></div>
  <div class="control-group">
   <label class="control-label" for="organisation_telephone">Telephone</label>
   <div class="controls"><input type="text" id="organisation_telephone" name="organisation[telephone]" 
   value="{% if organisation %} {{ organisation.telephone }} {% endif %}"  disabled
   /></div></div>
  <div>
   <button type="submit" id="organisation_save" name="organisation[save]" 
   {% if organisation %}
   onclick="return confirm('Are you sure to delete organisation with id {{ organisation.id|e }}')"
   {% else %}
    disabled
   {% endif%}
   >Delete</button>
  </div>
 </div>
</form>

</div><!-- end-jumbotron -->
</div><!-- end-container -->

