<div id="main" role="main" class="container">
<div class="jumbotron">
<h2>Organisations</h2>
<table>
    {% for organisation in organisations %}
        <tr>
		<td><a href="/organisation/show/{{ organisation.id|e }}">{{ organisation.name|e }}</a>&nbsp;
		<td>
			<a class="{{ hide_edit_organisation|e }}" href="/organisation/edit/{{ organisation.id|e }}">Edit</a>
			<a class="{{ hide_delete_organisation|e }}" href="/organisation/delete/{{ organisation.id|e }}" >Delete</a>
    {% endfor %}
</table>
<br/><a href='/organisation/add' class="{{ hide_add_organisation|e }}">Add Organisation</a>&nbsp;	
<br/><a href='/user'>Users</a>
<br/><br/><a href="{{ path('admin_logout') }}">Logout</a>
</div><!-- end-jumbotron -->
</div><!-- end-container -->
