<h1>Show {{ type_user }} details:</h1>
<table>
<tr><td><lable>Name:</label><td><input type="text" name="name" value="{{ user.name }}" disabled/></tr>
<tr><td><lable>Address:</label><td><input type="text" name="address" value="{{ user.address }}" disabled/></tr>
<tr><td><lable>Email:</label><td><input type="text" name="email" value="{{ user.email }}" disabled/></tr>
<tr><td><lable>Phone:</label><td><input type="text" name="telephone" value="{{ user.telephone }}" disabled/></tr>
<tr><td><lable>Employee ID:</label><td><input type="text" name="employeeID" value="{{ user.employeeID }}" disabled></tr>
<tr><td><lable>Role:</label><td><input type="text" name="role" value="{{ user.role }}" disabled/></tr>
<tr><td><lable>Organisation ID:</label><td><input type="text" name="organisationID" value="{{ user.organisationID }}" disabled /></tr>
<tr><td><lable>Birthdate:</label><td><input type="text" name="birthdate" value="{{ user.birthdate }}" disabled/></tr>
<tr><td><lable>Probation:</label><td><input type="checkbox" name="probation" value="{{ user.probation }}" disabled/></tr>
<tr><td><lable>Password:</label><td><input type="password" name="password" value="{{ user.password }}" disabled/></tr>
</table>
<br><a href='/organisation'>Organisations</a>&nbsp;<a href='/user'>Users</a>
<br/><br/><a href="{{ path('admin_logout') }}">Logout</a>
