<div id="main" role="main" class="container">
<div id="main" role="main" class="jumbotron">
<h1>{{ type_oper }} {{ type_user }}:</h1>
<table>
<tr><td><lable>Name:</label><td><input type="text" name="name" value="{{ user.name }}" /></tr>
<tr><td><lable>Address:</label><td><input type="text" name="address" value="{{ user.address }}" /></tr>
<tr><td><lable>Email:</label><td><input type="text" name="email" value="{{ user.email }}" /></tr>
<tr><td><lable>Phone:</label><td><input type="text" name="telephone" value="" /></tr>
<tr><td><lable>Employee ID:</label><td><input type="text" name="employeeID" value="{{ user.employeeID|e }}" {{ user.employeeID_readonly }}></tr>
<tr><td><lable>Role:</label><td><input type="text" name="role" value="{{ user.role }}" {{ user.role_readonly }}/></tr>
<tr><td><lable>Organisation ID:</label><td><input type="text" name="organisationID" value="{{ user.organisationID }}" {{ user.organisationID_readonly }} /></tr>
<tr><td><lable>Birthdate:</label><td><input type="text" name="birthdate" value="{{ user.birthdate }}" /></tr>
<tr><td><lable>Probation:</label><td><input type="checkbox" name="probation" value="{{ user.probation }}" {{ user.probation_readonly }}/></tr>
<tr><td><lable>Password:</label><td><input type="password" name="password" value="{{ user.password }}"/></tr>
</table>
<br/>
</div><!-- end-jumbotron -->
</div><!-- end-container -->